// -----------------------------------------------
// header
// -----------------------------------------------

.header {
  display: flex;
  align-items: center;
  margin: 1.88rem 2.25rem 0;
  &__right {
    display: flex;
    align-items: center;
    position: fixed;
    top: 2.06rem;
    right: 2.25rem;
  }
  h1 {
    font-size: 1.375rem;
    font-family: $gothic;
    font-weight: 400;
    letter-spacing: 0.05rem;
    span {
      display: block;
      margin-left: -0.8rem;
      font-size: 1.25rem;
      font-weight: 400;
      font-family: $gothic;
    }
  }
  .info {
    display: flex;
    &__select {
      display: flex;
      position: relative;
      align-items: center;
      margin-right: 1.5rem;
      p {
        font-size: 0.8rem;
        font-family: $gothic;
        font-weight: 400;
        letter-spacing: 0.0375rem;
      }
    }
    &__time {
      margin-right: 0.75rem;
    }
    &__temp {
      margin-right: 0.5rem;
    }
    &__city {
      padding-left: 0.75rem;
    }
    &__city::before {
      content: '';
      display: inline-block;
      width: 1px;
      height: 0.75rem;
      margin: -0.2rem 0.75rem 0 0;
      border-left: 1px solid $black;
      vertical-align: middle;
    }
  }
  .lang {
    position: relative;
    margin-right: 2.5rem;
    padding: 0.22rem 1.9rem 0.2rem 1rem;
    border-radius: 3.5rem;
    background: rgba(222, 220, 215, 0.5);
    backdrop-filter: blur(5px);
    font-size: 1.25rem;
    i {
      display: block;
      position: absolute;
      top: 44%;
      right: 0.94rem;
      width: 10px;
      height: 6px;
      background-image: url(../assets/common/icon_arrow.svg);
      background-size: contain;
    }
    &__menu {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .nav {
    ul {
      display: flex;
      font-size: 0.875rem;
    }
    li {
      margin-right: 2rem;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}
