// -----------------------------------------------
// header
// -----------------------------------------------

.info {
  display: flex;
  &__select {
    display: flex;
    position: relative;
    margin: 0.45rem 1.5rem 0 0;
    @include sp {
      color: $base-color;
    }
    p {
      font-size: 0.8rem;
      font-family: $gothic;
      font-weight: 400;
      letter-spacing: 0.1rem;
      @include sp {
        font-size: 0.85rem;
        font-weight: 500;
        span {
          font-weight: 500;
        }
      }
    }
  }
  &__time {
    margin-right: 0.75rem;
  }
  &__temp {
    margin-right: 0.5rem;
  }
  &__weather {
    margin-top: -0.35rem;
  }
  &__city {
    padding-left: 0.75rem;
  }
  &__city::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 0.75rem;
    margin: -0.2rem 0.75rem 0 0;
    border-left: 1px solid $main-color;
    vertical-align: middle;
    @include sp {
      border-left: 1px solid $base-color;
    }
  }
}

.lang {
  padding: 0.22rem 0 0.2rem;
  border-radius: 1.28571rem;
  background: rgba(222, 220, 215, 0.5);
  backdrop-filter: blur(5px);
  font-size: 1.25rem;
  .langMenu {
    display: none;
  }
  &__btn,
  .langMenu > li > button {
    padding: 0 1rem;
  }
  /* JSで .lang に active が付いたら開く */
  &.active .langMenu {
    display: block;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 2.25rem;
  padding-top: 1.88rem;
  transition: margin 300ms ease;
  @include sp {
    display: block;
    margin: 0 2.15rem;
    padding: calc(1.75rem + env(safe-area-inset-top)) 0 1.75rem;
    text-align: center;
    border-bottom: 1px solid rgba($color: $main-color, $alpha: 0.5);
    transition: none;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 2.25rem;
    z-index: 10;
    @include sp {
      display: none;
      position: static;
      transition: none;
    }
  }
  h1 {
    font-size: 1.37rem;
    font-family: $gothic;
    font-weight: 400;
    letter-spacing: 0.05rem;
    span {
      display: block;
      margin-left: -0.8rem;
      font-size: 1.25rem;
      font-weight: 400;
      font-family: $gothic;
      @include sp {
        margin: 0;
        font-size: 1.12rem;
      }
    }
  }
  .nav {
    margin: 0.45rem 0 0 2.5rem;
    &__btn {
      display: flex;
      font-size: 0.875rem;
      span:last-child {
        margin-right: 0;
      }
    }
  }
}
