---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import LeftContent from '../components/LeftContent.astro';
import RightContent from '../components/RightContent.astro';
import Drawer from '../components/Drawer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/style.scss';

import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
// 新しい順
posts.sort((a, b) =>
  b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="loading" id="js-loading">
  	<p class="loading__text">The best is yet to come!</p>
		</div>
		<div class="wrapper" data-site>
			<Header />
			<LeftContent />
			<div class="stage pushable">
				<main class="contents">
					<RightContent posts={posts} />
				</main>
			</div>
			<Drawer />
			<button class="menuBtn" data-menu-btn aria-expanded="false" aria-label="Open menu">
			</button>
			<div class="frame" aria-hidden="true"></div>
		</div>
		<script>
			import "../scripts/main.js";
			import "../scripts/menu.js";
			import "../scripts/date-slot.js";
			import "../scripts/phrase-loop.js";
			import "../scripts/weather.js";
		</script>
	</body>
</html>
