---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = 'ホームページ';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Navigation />
    <h1>{pageTitle}</h1>
    <Footer />
		</main>
		<Footer />
	</body>
</html>
