---
import Info from './Info.astro';
---

<header class="header">
	<h1 class="pushable">Tomoko Jung<span>（人生珍道中ブログ）</span></h1>
	<div class="header__right pushable">
		<Info />
		<nav class="nav">
			<button type="button" class="nav__btn" data-menu-btn aria-expanded="false">
    <span class="nav__text langText" data-lang="ko">나</span>
    <span class="nav__text langText isHidden" data-lang="ja">私</span>
  	</button>
		</nav>
	</div>
	<!-- <MenuWork /> -->
</header>
