---
import MenuAbout from "./MenuAbout.astro";
import MenuWork from "./MenuWork.astro";
---

<header class="header">
	<h1>Tomoko Jung<span>（人生珍道中ブログ）</span></h1>
	<div class="header__right">
		<div class="info">
			<div class="info__select">
				<p class="info__time"><span id="time">--:--</span></p>
				<p class="info__temp">12°C</p>
				<p class="info__weather emoji">&#x2614;</p>
				<p class="info__city">BUSAN</p>
			</div>
			<aside class="lang">
				<button class="lang__def" id="langBtn">&#x1f1f0;&#x1f1f7;<i></i></button>
				<ul class="lang__menu" id="langMenu">
					<li class="lang__jp"><button>&#127471;&#127477;</button></li>
					<!-- <li class="lang__en"><button>&#x1f1ec;&#x1f1e7;</button></li> -->
				</ul>
			</aside>
		</div>
		<nav class="nav">
			<ul>
				<li class="nav__about"><a href="/">メニュー</a></li>
				<!-- <li class="nav__work"><a href="/about/">つくったもの</a></li> -->
			</ul>
		</nav>
	</div>
	<MenuAbout />
	<MenuWork />
</header>
