---
import MenuAbout from "./MenuAbout.astro";
import MenuWork from "./MenuWork.astro";
---

<header class="header">
	<h1>Tomoko Inoue<span>（人生珍道中ブログ）</span></h1>
	<div class="header__right">
		<div class="info">
			<div class="info__select">
				<p class="info__time"><span id="time">--:--</span></p>
				<p class="info__temp">12°C</p>
				<p class="info__weather emoji">&#x2614;</p>
				<p class="info__city">BUSAN</p>
			</div>
			<div class="lang">
				<button class="lang__btn langToggle" data-current="ko">&#x1f1f0;&#x1f1f7;</button>
				<ul class="lang__list langMenu">
					<li><button data-lang="ko" class="isHidden">&#x1f1f0;&#x1f1f7;</button></li>
					<li><button data-lang="ja" class="">&#127471;&#127477;</button></li>
				</ul>
			</div>
		</div>
		<nav class="nav">
			<ul>
				<li class="nav__about langText" data-lang="ko"><a href="/">나</a></li>
				<li class="nav__about langText isHidden" data-lang="ja"><a href="/">私</a></li>
			</ul>
		</nav>
	</div>
	<MenuAbout />
	<MenuWork />
</header>
