---
---
<div class="info">
	<div class="info__select">
		<p class="info__time"><span class="info__clock">--:--</span></p>
		<p class="info__temp">12°C</p>
		<p class="info__weather emoji">&#x2614;</p>
		<p class="info__city langText" data-lang="ko">BUSAN</p>
		<p class="info__city langText isHidden" data-lang="ja">TOKYO</p>
	</div>
	<div class="lang">
		<button class="lang__btn langToggle" data-current="ko">&#x1f1f0;&#x1f1f7;</button>
		<ul class="lang__list langMenu">
			<li><button data-lang="ko" class="isHidden">&#x1f1f0;&#x1f1f7;</button></li>
			<li><button data-lang="ja" class="">&#127471;&#127477;</button></li>
		</ul>
	</div>
</div>
