---
---
<div class="info">
	<div class="info__select">
		<p class="info__time"><span class="info__clock">--:--</span></p>
		<p class="info__temp"></p>
		<p class="info__weather emoji"></p>
		<p class="info__city langText" data-lang="ja">TOKYO</p>
		<p class="info__city langText isHidden" data-lang="ko">BUSAN</p>
	</div>
	<div class="lang">
		<button class="lang__btn langToggle" data-current="ja">&#127471;&#127477;</button>
		<ul class="lang__list langMenu">
			<li><button data-lang="ja" class="isHidden">&#127471;&#127477;</button></li>
			<li><button data-lang="ko" class="">&#x1f1f0;&#x1f1f7;</button></li>
		</ul>
	</div>
</div>
