---
const homeUrl = import.meta.env.BASE_URL
---

<div class="left pushable">
 <picture class="left__photo">
  <img
    id="todays-photo"
    src={`${homeUrl}assets/photos/todays_photo01.jpg`}
    data-photo-base={`${homeUrl}assets/photos/todays_photo`}
    data-photo-count="10"
    alt="today's photos"
    width="297"
    height="223"
  >
 </picture>
 <div class="left__phrase">
  <p class="left__phrase-txt">
    <span class="langText" data-lang="ja">覚えた言葉 :</span>
    <span class="langText isHidden" data-lang="ko">배운 문구 :</span>
    <span class="js-phrase-text"></span><span class="left__cursor">|</span>
  </p>
</div>
</div>
