---
const homeUrl = import.meta.env.BASE_URL
---

<div class="left">
 <picture class="left__photo">
  <img src={`${homeUrl}assets/photos/todays_photo01.jpg`} alt="today's photos" width="297" height="223">
 </picture>
 <div class="left__phrase">
  <p class="left__phrase-txt">今日おぼえた言葉 :<span>안녕히 계세요.</span></p>
 </div>
</div>