---

---

<article class="right">
 <section class="right__box">
  <p class="right__ttl"><span>2025</span>12.25<small>火曜日</small></p>
  <div class="right__wrap">
   <h2>留学して初めてのブログです。明日から語学堂での授業が始まります。</h2>
   <p class="right__txt">テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！</p>
   <button class="right__btn">&#x1f44f;</button>
  </div>
 </section>
 <section class="right__box">
  <p class="right__ttl"><span>2025</span>12.24<small>月曜日</small></p>
  <div class="right__wrap">
   <h2>留学して初めてのブログです。明日から語学堂での授業が始まります。</h2>
   <p class="right__txt">テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！</p>
   <button class="right__btn">&#x1f44f;</button>
  </div>
 </section>
 <section class="right__box">
  <p class="right__ttl"><span>2025</span>12.23<small>日曜日</small></p>
  <div class="right__wrap">
   <h2>留学して初めてのブログです。明日から語学堂での授業が始まります。</h2>
   <p class="right__txt">テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！テストも無事に終わって、ついに明日から語学堂にて授業が始まります。まだまだ人で街を出かけるのが心配です。韓国留学は3ヶ月ほどですが、社会人になって新たに勉強できる時間を大切にしようと思います。しっかり目標を持って3ヶ月で日常会話を話せるように頑張ります！！</p>
   <button class="right__btn">&#x1f44f;</button>
  </div>
 </section>
</article>