// -----------------------------------------------
// base
// -----------------------------------------------

html {
  font-size: 100%; /* 16px × 0.875 = 14px */ /* ブラウザデフォルトサイズの16px × 62.5% = 10px（figma開発モードで単位が「10」ならば、font-size: 62.5% とする） */
  scroll-behavior: smooth;
  background-color: $main-color;
  @include sp {
    background-color: $base-color;
  }
  @media screen and (min-width: 1441px) {
    font-size: 100%;
  }
  @media screen and (max-width: 1440px) {
    font-size: clamp(0.875rem, 0.732rem + 0.3vw, 1rem);
  }
  @include sp {
    font-size: 100%;
  }
}
body {
  background-color: $main-color;
  color: $main-color;
  font-family: $gothic;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sp {
    background-color: $base-color;
  }
}

a {
  color: inherit;
}

i {
  font-style: normal;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
// utilitary classes
.pc {
  @include sp {
    display: none;
  }
}
.sp {
  @include pc {
    display: none;
  }
}
picture.cover {
  display: block;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.emoji {
  font-size: 1.25rem !important;
}
.isHidden {
  display: none !important;
}

.pre-line {
  white-space: pre-line;
}

.fadeIn {
  opacity: 0;
  transition: opacity 1.5s ease-out;
  &.viewed {
    opacity: 1;
  }
}

.hover-listItem-underline {
  a,
  span {
    position: relative;
    @include pc {
      &::after {
        content: '';
        left: 0;
        bottom: -0.2rem;
        width: 100%;
        height: 1px;
        background-color: $main-color;
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
