// -----------------------------------------------
// home
// -----------------------------------------------

.wrapper {
  --drawer-w: 400px;
  --drawer-x: 0px; // Drawerが押し出す量（発火する際と「--drawer-w」を変数化して、管理しやすくする）
  position: relative;
  overflow-x: clip; // 左にズレた時の横スクロール防止（clipはスクロールコンテナを作らないのでposition:stickyが正常に動作する）
  background-color: $base-color;
  .contents {
    display: flex;
    justify-content: space-between;
    transition: margin-right 0.35s ease;
    @include sp {
      display: block;
    }
  }
}

.pushable {
  transform: translateX(calc(-1 * var(--drawer-x)));
  transition: transform 0.35s ease;
  @include sp {
    transform: none;
  }
}

// スマホ版のメニューボタン
.menuBtn {
  display: none;
  @include sp {
    display: block;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 2.75rem;
    width: 4.5rem;
    background-color: $main-color;
    border-radius: 2.18rem;
    z-index: 999;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1.5rem;
      height: 1px;
      background-color: $base-color;
      transform: translateX(-50%);
      transition: transform 0.35s ease;
    }
    &::before {
      top: 42%;
    }
    &::after {
      top: 57%;
    }
  }
}

// 追従フレーム（最前面）
.frame {
  width: 100vw;
  --frame-border: 0rem solid #{$main-color};
  position: fixed;
  inset: 0; // top,right,bottom,leftを全て0にする。画面いっぱいに広げること（position: fixedとセットで使う）
  border: var(--frame-border);
  outline: var(--frame-border);
  border-radius: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  transition:
    opacity 200ms ease,
    width 0.35s ease,
    border-width 200ms ease,
    border-radius 200ms ease;
  @include sp {
    display: none;
  }
}

// ---------------------------------------------------------
// メニュー開閉（.isDrawerOpenになったときにpushableをどうするか）
// ---------------------------------------------------------
.wrapper.isDrawerOpen {
  --drawer-x: var(--drawer-w);
  @include sp {
    width: 100%;
    transition: 0.35s ease;
  }
  .header {
    width: 100%;
    margin-top: 1rem;
  }
  .drawer {
    transform: translateX(0);
    @include sp {
      opacity: 1;
      border-radius: 0;
      transition:
        opacity 0.25s ease,
        border-radius 0.25s ease,
        transform 0.25s ease;
    }
  }
  .frame {
    --frame-border: 1px solid #{$main-color};
    width: calc(100vw - var(--drawer-w) + 16px);
    opacity: 1;
    border-radius: 40px;
    border-width: 16px;
    outline: 1rem solid #{$main-color};
    @include sp {
      display: none;
    }
  }
  .menuBtn {
    @include sp {
      background-color: $base-color;
      &::before {
        top: 50%;
        transform: translate(-50%, -50%) rotate(25deg);
        background-color: $main-color;
      }
      &::after {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-25deg);
        background-color: $main-color;
      }
    }
  }
}
