// -----------------------------------------------
// home
// -----------------------------------------------

.main {
  &__contents {
    display: flex;
    justify-content: space-between;
    margin: 0 2.25rem;
  }
}
